:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@font-face {
  font-family: 'Notera';
  src: url('./fonts/Notera.ttf') format('truetype');
}

.titulo-customizado {
  font-family: 'Notera', sans-serif;
  color:#c0623c;
  
  /* Outros estilos do título, se necessário */
}

/*///////////////////////////////// HOME/////////////////////////////////////// */

.herotext {
  color: white;
  font-size: 5vw; /* Usando 'vw' (viewport width) para um tamanho de fonte responsivo */
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 0.5; /* Ajustando o line-height conforme necessário */
}

.herotext2 {
  color: white;
  font-size: 15vw; /* Tamanho de fonte responsivo usando 'vw' */
  font-family: 'Notera', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 0.5; /* Ajustando o line-height conforme necessário */
}

.herotextcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media(max-width:599px){

.herotext, .herotext2{
  text-align: center;
  
}
.responsivebutton{
display: flex;
justify-content: center; 
align-items: center; 
}

.herotext {
  font-size: 10vw; /* Usando 'vw' (viewport width) para um tamanho de fonte responsivo */
 
}

.herotext2 {
  font-size: 25vw; /* Tamanho de fonte responsivo usando 'vw' */
  
}
}


.titulo1{
    color: #c0623c;
    font-size: 70px;
    font-family: 'Notera', sans-serif;
    text-align: center;
    margin:0

  
}


/* HOME - NAVEGAR */


.navegar-item{
  height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.imagembackground1{
  background-image: url("./assets/home/casamentos.png")

}

.imagembackground2{
  background-image: url("./assets/home/eventos.png")

}

.imagembackground3{
  background-image: url("./assets/home/festasprivadas.png")

}

.navegar-item1{
  height: 50vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  }


.imagembackground4{
  background-image: url('./assets/belamur.jpg');
}
/* VIDEOS */

.videocontainer{
  background-color: gray;
  border-radius: 1rem;
  width: 100%;
height: 50vh;}

.titulovideo{
  font-size: 1rem;
  font-weight: bold;
  /* padding-left: 0.5rem;
  padding-right: 0.5rem; */
  margin-top: 0.3rem;
}

.maisvideos{
  background-color: #efefef;
}

.videostitulo{
  font-family: 'Notera', sans-serif;
  color:#c0623c;
  padding-left:1.5rem;
  height: 2.3rem;
  padding-right:0.5rem;
  font-size: 1.8rem;
  background-color: 'white'; 


}
.maisvideoitem{
  display: flex;
  padding:0.5rem;
}

.maisvideovideo{
  width: 18vh;
  height: 10vh;
  background-color: gray;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  padding: 0;
}
.containervideo{
  height: '250px'; 
  overflow: 'auto' ;
  border-radius: 1rem;

}

/* ///////////////////////////////////FOOTER////////////////////////// */

.footercontainer{
  width: 100%;
  height: 100%;
  background-color: #fcf5ea;
  position: static;
}

.footerlogo{
  width: 10rem;
}

.griditem{
  display: flex;
  justify-content: center;
  text-align: center;
}

.navegue{
  font-weight: bold;
  color: #c0623c
}

.iconcontainerfooter{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;

}

.iconfooterimg{
  width: 1.1rem;
  align-items: center;

}


/* index.css */

.users-list {
  padding: 20px;
}

/* .list-item {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.menu-item {
  border: 1px solid #ccc;
  margin: 2px 0;
} */

/* .menu{
  box-shadow: #ccc;
} */


.MuiPaper-root .MuiPaper-elevation .MuiPaper-rounded .MuiPaper-elevation8 .MuiPopover-paper .MuiMenu-paper .MuiMenu-paper .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{

  box-shadow:0px 5px 5px -3px rgba(163, 163, 163, 0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12)
}